<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>Trần Đức Việt</b></h3>
	<h4><b>K56 HEDSPI - HUST</b></h4><br>
	Email: <a href="mailto:haininhbk@gmail.com">haininhbk@gmail.com </a><br>
	Facebook: <a href="https://www.facebook.com/haininh.nguyen.1">Hai Ninh Nguyen</a>
</p>
